body {
  background-color: #b91750;
}

.text-title {
  color: white;
  text-align: center;
  padding: 15px;
}

.form {
  background-color: white;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}
.form.form-anagrafica {
  height: 200px;
  text-align: center;
}
.form .form-data {
  display: inline-block;
}
.form label {
  color: #b91750;
}
.form input, select {
  padding: 3px;
  border-color: #c53f6e;
  border-radius: 5px;
}
.form input:focus,
.form select:focus {
  background-color: #b91750;
  color: white;
}
.form .form-data.km {
  margin: 0 50px;
}
.form .cta,
.print .cta {
  color: #b91750;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: bold;
  margin: 50px 0;
}
.print {
  text-align: center;
}


#info-ticket {
  display: block;
}

.hidden {
  display: none;
}

.ticket-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid gray;
  height: 200px;
}
.ticket-details > div {
  font-weight: bold;
}
.pass-id {
  background-color: gray;
}

#ticket-print {
  width: 900px;
  height: 300px;
  margin-bottom: 100px;
}

.form-print {
  padding-top: 55px;
}
.form-print h3 {
  padding-bottom: 15px;
}
.print-voucher {
  position: relative;
}
.print-voucher > div {
  padding-bottom: 5px;
}

.code img {
  width: 10%;
  position: absolute;
  right: 10px;
  bottom: -65px;
}
.logo {
  position: absolute;
  top: -75px;
  right: 15px;
  width: 15%;
}
.logo .rail {
  font-style: italic;
  font-weight: bold;
}




/* ========== GENERAL RULES ========== */
/* DEBUGG - start rules*/
/* debug {}
  .debug .container {
    background-color: #16D893;
    border: 1px solid blue;
  }
  .debug [class*="col-"] {
    background-color: yellow;
    border: 1px solid red;
    height: 100px;
  } */
/* DEBUGG - end rules */


/* GENERAL RULES (reset) - start */
general rules {}
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
  }
  body div, span, ul, a {
    font-family: 'Open Sans', sans-serif;
  }

  img {
    width: 100%;
  }
/* GENERAL RULES (reset) - end */



/* CLASS PROPERTIES - start rules */
class_properties {}
  .float {
    float: left;
  }
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  .transform {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .text-bold {
    font-weight: 700;
  }
  ul.list-unstyled {
    padding-left: 0;
    }
    ul.list-unstyled li {
      display: inline-block;
      list-style: none;
    }
    ul.list-unstyled li a {
      text-decoration: none;
    }
/* CLASS PROPERTIES - end rules */



/* BASE LAYOUT - inizio */
regole layout {}
/* BASE LAYOUT - fine */



/* COMPONENTS (reusable) - start rules */
components {}
  components
/* COMPONENTS (reusable) - end rules */



/* NAVBAR - start rules */
nav {}
  nav {}
/* NAVBAR - end rules */


/* HEADER - start rules */
header {}
  header {}
/* HEADER - end rules */


/* MAIN - start rules */
main {}
  main {}
/* MAIN - end rules */


/* FOOTER - start rules */
footer {}
  footer {}
/* FOOTER - end rules */



/* MEDIA QUERY -start rules */
@media query {}
  /* Media Query - xs  */
  @media all and (max-width: 767px) {}

  /* Media Query - sm  */
  @media all and (min-width: 768px) and (max-width: 991px) {}

  /* Media Query - md  */
  @media all and (min-width: 992px) and (max-width: 1199px) {}

  /* Media Query - lg  */
  @media all and (min-width: 1200px) {}
/* MEDIA QUERY -end rules */
